# Heart Disease Prediction using Random Forest

In [1]:
#installing Modules
# %pip install pandas numpy matplotlib scikit-learn

#importing Modules
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import pickle

### 1. Data preparation and Data exploration

In [2]:
df = pd.read_csv('dataset.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,2
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,1
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,2
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,1
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,1

In [3]:
df.shape

(1389, 14)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1389 entries, 0 to 1388
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1389 non-null   int64
 1   sex       1389 non-null   int64
 2   cp        1389 non-null   int64
 3   trestbps  1389 non-null   int64
 4   chol      1389 non-null   int64
 5   fbs       1389 non-null   int64
 6   restecg   1389 non-null   int64
 7   thalach   1389 non-null   int64
 8   exang     1389 non-null   int64
 9   oldpeak   1389 non-null   float64
 10  slope     1389 non-null   int64
 11  ca        1389 non-null   int64
 12  thal      1389 non-null   int64
 13  target    1389 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 152.0 KB

In [5]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000
mean,54.299496,0.686825,1.410367,131.375090,246.794096,0.150468,0.625630,150.005040,0.323254,1.040965,1.438445,0.704824,2.770338,1.517639
std,9.064189,0.463952,1.335637,17.448722,51.995061,0.357658,0.673354,22.878909,0.467887,1.150091,0.622574,1.001072,1.388959,0.499869
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,47.000000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,134.000000,0.000000,0.000000,1.000000,0.000000,2.000000,1.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,3.000000,2.000000
75%,61.000000,1.000000,2.000000,140.000000,275.000000,0.000000,1.000000,168.000000,1.000000,1.600000,2.000000,1.000000,3.000000,2.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,4.000000,7.000000,2.000000

In [6]:
#Check null values
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

### 2. Modelling

In [7]:
# Initialize data and target
target = df['target']
features = df.drop(['target'], axis = 1)

In [8]:
# Split the data into training set and testing set
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size = 0.2, random_state = 0)

### Train and Evaluate model

In [9]:
# Train and evaluate model
def fit_eval_model(model, train_features, y_train, test_features, y_test):
    
    """
    Function: train and evaluate a machine learning classifier.
    Args:
      model: machine learning classifier
      train_features: train data extracted features
      y_train: train data lables
      test_features: train data extracted features
      y_test: train data lables
    Return:
      results(dictionary): a dictionary of classification report
    """
    results = {}
    
    # Train the model
    model.fit(train_features, y_train)
    
    # Test the model
    train_predicted = model.predict(train_features)
    test_predicted = model.predict(test_features)
    
     # Classification report and Confusion Matrix
    results['classification_report'] = classification_report(y_test, test_predicted)
    results['confusion_matrix'] = confusion_matrix(y_test, test_predicted)
        
    return results, model

### Random Forest

In [17]:
rf = RandomForestClassifier(random_state = 1)

result = fit_eval_model(rf, X_train, y_train, X_test, y_test)
for key, value in result[0].items():
    print(key, ':\n', value)

classification_report :
               precision    recall  f1-score   support

           1       0.93      0.95      0.94       133
           2       0.95      0.93      0.94       145

    accuracy                           0.94       278
   macro avg       0.94      0.94      0.94       278
weighted avg       0.94      0.94      0.94       278

confusion_matrix :
 [[126   7]
 [ 10 135]]

### Save Model

In [18]:
with open('model.pkl', 'wb') as file:
    pickle.dump(rf, file)

### Predicting

In [19]:
print(rf.predict([[57,1,4,140,192,0,0,148,0,0.4,2,0,6]]))
print(rf.predict([[48,1,4,130,256,1,2,150,1,0,1,2,7]]))

[1]
[2]

/home/mq/xz/clg/Heart-Disease-Prediction-using-Random-Forest/env/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
/home/mq/xz/clg/Heart-Disease-Prediction-using-Random-Forest/env/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(